{% extends 'base.html' %}
{% block stylesheet %}
    <link href="{{ url_for('static', filename='css/chrome_plugin.css') }}" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <div class="plugin-detail-container">
        <div style="white-space: pre-line;font-size: 16px;line-height: 24px;">
            <div style="">{{ plugin.name }}</div>
            <div style="font-weight: bolder;">{{ plugin.short_desc }}</div>
            <div style="font-weight: 300;">{{ plugin.description }}</div>
        </div>
    </div>
{% endblock %}