{% extends 'base/foundation.html' %}

{% block body %}
    <div id="app">
        <template>
            <el-container style="height: 100%;">
                <el-header>
                    <el-menu
                            :default-active="menuIndex"
                            class="el-menu-demo"
                            mode="horizontal"
                            @select="handleSelect"
                            background-color="#545c64"
                            text-color="#fff"
                            active-text-color="#ffd04b">

                        <el-menu-item index="1">
                            <a href="{{ url_for('admin.home') }}">
                                Flask
                            </a></el-menu-item>
                        <div class="profile-container">
                            <el-submenu index="2">
                                <template slot="title">
                                    <img src="{{ current_user.gravatar(size=18) }}">
                                    {{ current_user.username }}</template>
                                <a class="dropdown-item" href="{{ url_for('article.create_article') }}">
                                    <el-menu-item index="2-2">发表博文</el-menu-item>
                                </a>
                                <a class="dropdown-item" href="{{ url_for('admin.manage_articles') }}">
                                    <el-menu-item index="2-2">管理博文</el-menu-item>
                                </a>
                                <a class="dropdown-item" href="{{ url_for('admin.submitArticles') }}">
                                    <el-menu-item index="2-2">退出登录</el-menu-item>
                                </a>
                            </el-submenu>
                        </div>
                    </el-menu>
                </el-header>
                <el-container>

                    <el-aside width="200px">
                        <el-scrollbar style="height: 100%;border-right: 2.5px solid #f0f0f0;">
                            <el-menu
                                    :default-active="activeIndex2"
                                    ref="leftMenu"
                                    class="el-menu-vertical-demo"
                                    :unique-opened="true"
                                    :collapse-transition="true"
                                    @select="handleLeftSelect"
                                    text-color="black"
                                    active-text-color="#ffd04b">
                                <el-submenu index="1">
                                    <template slot="title">
                                        <i class="el-icon-location"></i>
                                        <span>博客</span>
                                    </template>
                                    <el-menu-item-group>
                                        <a href="{{ url_for('article.create_article') }}">
                                            <el-menu-item index="1-1">发表博文</el-menu-item>
                                        </a>
                                        <a href="{{ url_for('admin.home') }}">
                                            <el-menu-item index="1-2">管理博文</el-menu-item>
                                        </a>
                                        <el-menu-item index="1-3">博文分类</el-menu-item>
                                        <el-menu-item index="1-4">博文抓取</el-menu-item>
                                    </el-menu-item-group>
                                </el-submenu>
                                <el-submenu index="2">
                                    <template slot="title">
                                        <i class="el-icon-menu"></i>
                                        <span>评论</span>
                                    </template>
                                    <el-menu-item-group>
                                        <a href="{{ url_for('comment.list_view') }}">
                                            <el-menu-item index="2-1">博文评论</el-menu-item>
                                        </a>

                                    </el-menu-item-group>
                                </el-submenu>
                                <el-submenu index="3">
                                    <template slot="title">
                                        <i class="el-icon-menu"></i>
                                        <span>Chrome插件</span>
                                    </template>
                                    <el-menu-item-group>
                                        <a href="{{ url_for('admin.manage_plugins') }}">
                                            <el-menu-item index="3-1">插件管理</el-menu-item>
                                        </a>
                                    </el-menu-item-group>
                                    <el-menu-item-group>
                                        <a href="{{ url_for('chrome_plugin.plugin_spider') }}">
                                            <el-menu-item index="3-2">插件爬取</el-menu-item>
                                        </a>
                                    </el-menu-item-group>
                                </el-submenu>
                                <el-submenu index="4">
                                    <template slot="title">
                                        <i class="el-icon-setting"></i>
                                        <span>其它管理</span>
                                    </template>
                                    <el-menu-item-group>
                                        <el-menu-item index="4-1">用户管理</el-menu-item>
                                    </el-menu-item-group>
                                </el-submenu>

                            </el-menu>
                        </el-scrollbar>
                    </el-aside>

                    <el-main>
                        <main-content></main-content>
                    </el-main>
                </el-container>
            </el-container>
        </template>
    </div>
    {% include component ignore missing %}
    <script>

        new Vue({
            el: "#app",
            data() {
                return {
                    menuIndex: '1',
                    activeIndex2: '1'
                }
            },
            watch: {
                activeIndex2(val, oldVal) {
                    window.localStorage.setItem("activeIndex2", val)
                }
            },
            mounted() {
                this.activeIndex2 = window.localStorage.getItem("activeIndex2")
            },
            methods: {
                handleSelect(key, keyPath) {
                    window.localStorage.setItem("menuIndex", key)
                },
                handleLeftSelect(key, keyPath) {
                    window.localStorage.setItem("activeIndex2", key)
                }
            },
            destroy() {
                console.log("--------")
            }
        })
    </script>
    <style>
        body {
            margin: 0px;
            font-size: 16px;
        }

        a {
            text-decoration: none;
        }

        #app {
            height: calc(100vh);
        }

        #app .el-header {
            padding: 0px;
        }

        #app .el-scrollbar__wrap {
            overflow-x: hidden;
        }

        .profile-container {
            float: right;
            margin-right: 100px;
        }

        .profile-container .el-icon-arrow-down:before {
            content: '';
        }
    </style>
{% endblock %}