{% extends 'base/foundation.html' %}

{% block body %}
    <div id="app">
        <template>
            <el-container style="height: 100%;">
                <el-header>
                    <el-menu
                            :default-active="menuIndex"
                            class="el-menu-demo"
                            mode="horizontal"
                            @select="handleSelect"
                            background-color="#545c64"
                            text-color="#fff"
                            active-text-color="#ffd04b">
                        <a style="display: inline-block" href="/">
                            <el-menu-item index="1">Flask</el-menu-item>
                        </a>
                        <a style="display: inline-block" href="/">
                            <el-menu-item index="2">

                                <span>博客</span>

                            </el-menu-item>
                        </a>
                        <a style="display: inline-block" href="/chrome-plugin/list">
                            <el-menu-item index="3">

                                <span>Chrome插件</span>

                            </el-menu-item>
                        </a>

                    </el-menu>
                </el-header>
                <el-container>
                    <el-main>
                        <div class="main-content_container">
                            <main-content></main-content>
                        </div>
                    </el-main>
                </el-container>
            </el-container>
        </template>
    </div>
    {% include component ignore missing %}
    <script>

        new Vue({
            el: "#app",
            data() {
                return {
                    menuIndex: '3'
                }
            },
            mounted() {
                this.menuIndex = window.localStorage.getItem("menuIndex")
            },
            methods: {
                handleSelect(key, keyPath) {
                    window.localStorage.setItem("menuIndex", key)
                }
            }
        })
    </script>
    <style>


        #app {
            height: calc(100vh);
        }

        #app .el-header {
            padding: 0px;
        }

        #app .el-main {
            padding: 3px 0;
        }

        #app .el-scrollbar__wrap {
            overflow-x: hidden;
        }

        #app .main-content_container {
            margin: auto;
            position: relative;
            width: 1250px;
            text-align: center;
            height: 100%;
        }
    </style>
{% endblock %}
