{% extends 'base/foundation.html' %}

{% block body %}
    <div id="app">
        <template>
            <div class="login-container">
                <div class="input-group" style="width: auto;height: auto;margin: auto">
                    <span class="input-group-header">
                        Login
                    </span>
                    <div class="input-group-field">
                        <el-input class="input-group-field-value" v-model="entity.username" placeholder="Email"></el-input>
                    </div>
                    <div class="input-group-field">

                        <el-input class="input-group-field-value" v-model="entity.password" placeholder="Password"></el-input>
                    </div>
                    <div class="input-group-field">
                        <el-checkbox v-model="entity.remember">Remember Me</el-checkbox>
                    </div>
                    <div class="input-group-field">
                        <el-button style="width: 100%;" @click="signIn" type="primary">sign in</el-button>
                    </div>

                </div>
            </div>
        </template>
    </div>
    <script>

        new Vue({
            el: "#app",
            data() {
                return {
                    entity: {
                        username: '',
                        password: '',
                        remember: true
                    }
                }
            },
            watch: {},
            mounted() {

            },
            methods: {
                signIn() {
                    this.$http.post("/auth/login", this.entity).then(res => {
                        let data = res.data;
                        if (data && data.status == 1) {
                            window.location.href = "{{ url_for('admin.home') }}"
                        } else {
                            this.$message.error(data.err_msg)
                        }
                    }).catch(e => {
                        this.$message.warning(e.message)
                    })
                }
            },
            destroy() {
                console.log("--------")
            }
        })
    </script>
    <style>
        .login-container {

            height: calc(100vh);
            line-height: calc(100vh);
        }

        .input-group {
            text-align: center;
            width: calc(100vw);
            line-height: 10px;
            position: relative;
            top: 25%;
        }

        .input-group-header {
            font-size: 1.75rem;
            height: 50px;
            line-height: 50px;
            font-weight: bolder;
        }

        .input-group-field {
            margin: 0px auto;
            text-align: left;
            line-height: 60px;
            width: 400px;
            height: 60px;
        }

        .input-group-field-label {
            display: inline-block;
            height: 30px;
            text-align: left;
            width: 60px;
        }
    </style>
{% endblock %}