{% extends 'base.html' %}
{% import "_macros.html" as macros %}

{% block hitokoto %}
    {#            <script type="text/javascript" src="https://v1.hitokoto.cn/?encode=js"></script>#}
    <script type="text/javascript">
        $.ajax({
            url: 'https://v1.hitokoto.cn/?encode=json&c=i&c=h&c=d',
            success: (res) => {
                let from, author, suffix
                author = res['from_who']
                if (!author || author === 'null') {
                    author = ''
                }
                from = `「${res['from']}」`
                if (!from || from === 'null') {
                    from = ''
                }
                suffix = author + from
                if (from || author) {
                    suffix = "—— " + suffix
                }
                let content = `『 ${res['hitokoto']}  』${suffix}`
                $(".hitokoto").text(content)
            }
        })
    </script>
{% endblock %}

{% block content %}
    {% include "_article_entry.html" %}
    <div class="pagination">
        {% if endpoint == '.index' %}
            {{ macros.pagination_widget(pagination, endpoint) }}
        {% else %}
            {{ macros.pagination_widget(pagination, endpoint, id=id) }}
        {% endif %}
    </div>
{% endblock %}