{% extends 'base.html' %}
{% import "_macros.html" as macros %}
{% block content %}
    <div style="height: auto;width: 215px;">

        <img aria-hidden="true"
             src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1591820328299&di=89f08c993d55e875eab6cd37b732856f&imgtype=0&src=http%3A%2F%2Fpic.qqtn.com%2Fup%2F2017-8%2F201708241025487061949.png"
             class="plugin-list-item-cover-img">
        <div class="plugin-list-item-description">原名:Gestures for Chrome(TM)汉化版.方便,快捷,充分发掘鼠标的所有操作.功能包括:鼠标手势,超级拖曳,滚轮手势,摇杆手势,平滑滚动,标签页列表等.</div>
    </div>
{% endblock %}